.projectsContainer {
  bottom: 0;
  width: 100%;
  display: flex;
  position: absolute;
  margin-bottom: 7rem;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
  .projectsContainer {
    margin-bottom: 1rem;
  }
}
