.quotesContainer {
  color: grey;
}

@media only screen and (max-width: 1200px) {
  .bottomDiv {
    background-color: blue;
    width: 90% !important;
  }

  .quotesContainer {
    max-width: 20%;
  }

  .quotesContainer h3 {
    font-size: 12px;
  }

}