.cardContainer {
  width: 15rem;
  height: 15rem;
  opacity: 0.9;
  display: flex;
  cursor: pointer;
  border-radius: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
}

.cardContainer:hover {
  opacity: 0.6;
}

.cardContainer:hover .imgText {
  display: block;
}

.cardContainer:hover .img {
  display: none;
}

.img {
  max-width: 10rem;
}

.imgText {
  display: none;
}

